<a href="https://colab.research.google.com/github/TheEmperix/Data-Science-test/blob/master/d01_desc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# day01 - Трудно жить без даты!

---

Импортируем библиотеки с которыми мы уже встречались, и которые нам понадобятся в дальнейшем:

In [ ]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta, date, time

---

## Неоднозначное соответствие единиц измерения времени

В этом разделе представлены величины, имеющие несколько значений. Именно эти величины чаще всего используются в повседневной жизни, поэтому необходимо научиться их рассчитывать.

- месяц - примерно 30 суток (от 28 до 31):
    - январь, март, май, июль, август, октябрь и декабрь - 31 день
    - апрель, июнь, сентябрь, ноябрь - 30 дней
    - февраль - 28 или 29 дней
- в году от 52 до 54 недель в зависимости от способа счисления, которые различаются, например, в США и Канаде от Европы
- согласно ISO 8601, первой неделей года считается неделя, содержащая первый четверг года
    - если 1 января или 31 декабря выпадает на четверг (или 1 января выпадает на среду в високосный год), то год содержит 53 недели
    - в остальных случаях год содержит 52 недели
- год содержит 365 или 366 дней
- Високосный год определяется согласно следующим правилам:
    - если год без остатка делится на 400, то это високосный год
    - если год без остатка делится на 4 и при делении на 100 имеет остаток, то это високосный год
    - в остальных случаях год не является високосным

---

Научимся определять високосный год. Напишем для этого функцию, которая будет возвращать True, если год високосный и False, в противном случае:

In [ ]:
def day366(year):
    return (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

---

Проверим, как работает наша функция на тестовых данных 2000, 2019, 2020, 2021 и 2100 годов:

In [ ]:
years = [1900, 2000, 2019, 2020, 2021, 2100]
for j in years:
    print(j, day366(j))

1900 False
2000 True
2019 False
2020 True
2021 False
2100 False

---

# Задание 1

Поздравить знакомого с Днем Рождения коротким сообщением для большинства из нас не составляет труда. С другой стороны проявленный акт внимания создает хорошее настроение и сохраняет социальные связи. Напишите код, который определяет дату рождения в игровой форме.  
Пример:
Один человек выясняет у другого дату рождения:
   - У тебя День рождения в июне?
   - Раньше.
   - В апреле?
   - Да.
   - 15-го числа?
   - Позже.
   - 20-го?
   - Да.
   - У тебя День Рождения 20 апреля
   
Механизм взаимодействия:
1. Функция get_month() формирует запросы к функции month_of_birth(month)
2. Функция month_of_birth(month, m_o_b = number_of_month) проверяет month == m_o_b:
  - Если равны, то функция возвращает значение 'да'
  - Если month > m_o_b, то значение 'раньше'
  - Если month < m_o_b, то значение 'позже'
3. Как только получено значение 'да', get_month() прекращает работу и возвращает значение полученного month, переведенного в название месяца
4. Функция get_day() формирует запросы к функции day_of_birth(day)
5. Функция day_of_birth(day, d_o_b = number_of_day) проверяет day == d_o_b:
    - Если равны, то функция возвращает значение 'да'
    - Если day > d_o_b, то значение 'раньше'
    - Если day < d_o_b, то значение 'позже'
6. Как только получено значение 'да', get_day() прекращает работу и возвращает значение полученного day
7. Публикация результата в формате "число месяц", например, 20 апреля
Вам нужно написать код так, чтобы, поменявшись функциями get, вам не пришлось редактировать код для его выполнения. Постарайтесь разработать алгоритм, чтобы общее число запросов не превышало 10.

*Рекомендация: Для того, чтобы точно были совместимы возвращаемые функциями ответы, лучше принудительно приводить строку к строчным буквам и без пробелов. Для этого используйте следующий код:*

***s = s.lower().replace(' ', '')*** *здесь s - это строка, требующая изменений*

Дополнительная информация по работе со строковыми переменными:

[Официальная документация](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)

[Справочник основных функций на русском языке](https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html)

---

In [2]:
"""Решение задания 1"""

number_of_month = 6              # глобальная переменная месяца даты рождения, необходимо присвоение значения
number_of_day = 4                 # глобальная переменная дня даты рождения, необходимо присвоение значения

def month_of_birth(month, m_o_b = number_of_month):
    "Функция принимает значение month, сравнивает с m_o_b и возвращает результаты сравнения"
    if (month == m_o_b):
        return 'да'
    if (month > m_o_b):
        return 'раньше'
    return 'позже'
    
def day_of_birth(day, d_o_b = number_of_day):
    "Функция принимает значение day, сравнивает его с d_o_b и возвращает результаты сравнения"
    if (day == d_o_b):
        return 'да'
    if (day > d_o_b):
        return 'раньше'
    return 'позже'
    
def get_month():
    """Функция формирует запросы month и анализирует результаты сравнения, переводит номер найденного месяца в 
    строку его названия и возвращает результат"""
    month = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря']
    left = 1
    right = 12
    mid = (left + right) // 2
    res = month_of_birth(mid)
    print(month[mid - 1], res)
    while res != 'да':
        if (res == 'позже'):
            left = mid + 1
        else:
            right = mid - 1
        mid = (left + right) // 2
        res = month_of_birth(mid)
        print(month[mid - 1], res)
    return month[mid - 1]

def get_day():
    "Функция формирует запросы day и анализирует результаты сравнения, возвращает результат"
    left = 1
    right = 31
    mid = (left + right) // 2
    res = day_of_birth(mid)
    print(mid, res)
    while res != 'да':
        if (res == 'позже'):
            left = mid + 1
        else:
            right = mid - 1
        mid = (left + right) // 2
        res = day_of_birth(mid)
        print(mid, res)
    return mid

def birthday():                    # функция, запускающая процесс определения даты рождения и выводящая результат
    print(get_day(), get_month())
    
birthday()

16 раньше
8 раньше
4 да
июня да
4 июня

---

## Классы и методы модуля DateTime

Модуль [DateTime](https://docs.python.org/3/library/datetime.html) предназначен для управления датами и временем в Python.

In [ ]:
from datetime import datetime, timedelta, date, time

In [ ]:
Time_Now = datetime.now() # возвращает текущие дату и время (год, месяц, число, час, минута, секунда, микросекунда)
Time_Now

datetime.datetime(2022, 4, 3, 13, 10, 17, 495089)

In [ ]:
datetime.date(Time_Now) # отсекает время и оставляет только дату

datetime.date(2022, 4, 3)

In [ ]:
datetime.time(Time_Now) # отсекает дату, оставляя только время

datetime.time(13, 10, 17, 495089)

In [ ]:
print(datetime.isoformat(Time_Now, sep='T'))                       # Дата и время с разделителем 'T'
print(datetime.isoformat(Time_Now, sep=' '))                       # Дата и время с разделителем ' '
print(datetime.isoformat(Time_Now, timespec = 'seconds', sep=' ')) # С детализацией до секунд

2022-04-03T13:10:17.495089
2022-04-03 13:10:17.495089
2022-04-03 13:10:17

In [ ]:
datetime.isocalendar(Time_Now) # Возвращает в соответствии с ISO год, номер недели, номер дня недели

(2022, 13, 7)

In [ ]:
datetime.isoweekday(Time_Now) # Номер дня недели (понедельник - 1)

7

In [ ]:
new_year = datetime.strptime('2021-01-01 00:00:01', '%Y-%m-%d %H:%M:%S') # Распознаем из строки дату и время 
new_year                                                                 # согласно формату '%Y-%m-%d %H:%M:%S'

datetime.datetime(2021, 1, 1, 0, 0, 1)

In [ ]:
new_year.strftime("%A, %d. %B %Y %H:%M") # преобразуем дату и время к строке

'Friday, 01. January 2021 00:00'

In [ ]:
delta = Time_Now - new_year # Разница между датами, выраженная в днях, секундах и микросекундах
delta

datetime.timedelta(days=457, seconds=47416, microseconds=495089)

In [ ]:
delta.days

457

In [ ]:
delta.seconds

47416

---

# Задание 2

Требуется написать код, рассчитывающий количество рабочих часов с использованием методов модуля datetime.
Требования к коду:
1. Написать функцию *input_date()*, которая запрашивает у пользователя диапазон дат, на котором считается рабочее время. Граничные даты включаются в расчет. Функция возвращает две переменные с датами *start_date, end_date*.
2. Написать функцию *date_to_datetime(start_date, end_date)*, которая преобразует даты в формат datetime. Функция возвращает переменные *start_date, end_date*, преобразованные к формату datetime.
3. Написать функцию *delta_time(start_date, end_date)*, которая рассчитывает разницу во времени. По результату работы функции, в переменную *delta* функции, которая вызвала delta_time, должно быть записано общее количество оцениваемых дней.
4. Написать функцию *day_of_the_week(start_date)*, которая возвращает номер дня недели, соответствующий началу оцениваемого периода, в переменную *start_day_of_the_week*.
5. Написать функцию *calculating_hours(start_day_of_the_week, delta)*, которая возвращает количество рабочих часов за указанный период (и, таким образом, является точкой входа в нашу программу).
6. Сформировать тестовые данные и протестировать программу.

Упрощения:
1. Пятидневная рабочая неделя, суббота и воскресенье - выходные;
2. Каждый день отрабатывается ровно 8 часов;
3. Праздники, отгулы, отпуска и больничные отсутствуют

In [ ]:
"""Решение задания 2"""

def input_date():
    start_date = input('Введите дату начала диапазона в формате YYYY-MM-DD: ')
    end_date = input('Введите дату конца диапазона в формату YYYY-MM-DD: ')
    return start_date, end_date

def date_to_datetime(start_date, end_date):
    start_date = datetime.strptime(start_date, '%Y-%m-%d')
    end_date = datetime.strptime(end_date, '%Y-%m-%d')
    return start_date, end_date

def delta_time(start_date, end_date):
    delta = end_date - start_date
    delta = delta.days + 1
    return delta   

def day_of_the_week(start_date):
    start_day_of_the_week = datetime.isoweekday(start_date)
    return start_day_of_the_week

def calculating_hours(start_day_of_the_week, delta):
    first_week = 7 - start_day_of_the_week + 1
    first_week_days = first_week - 1
    if (start_day_of_the_week < 7):
        first_week_days -= 1
    if (delta <= first_week_days):
        return 8 * delta
    if (delta <= first_week):
        return 8 * first_week_days
    delta -= first_week
    middle_weeks = delta // 7
    last_week = delta % 7
    if (last_week == 6):
        last_week = 5
    work_days = first_week_days + (middle_weeks * 5) + last_week
    return 8 * work_days

In [ ]:
"""Тестирование задания 2"""
start_date, end_date = input_date()
start_date, end_date = date_to_datetime(start_date, end_date)
delta = delta_time(start_date, end_date)
print('Delta = ', delta)
start_day_of_the_week = day_of_the_week(start_date)
print('Start day of the week = ', start_day_of_the_week)
work_hours = calculating_hours(start_day_of_the_week, delta)
print('Total work hours = ', work_hours)

Введите дату начала диапазона в формате 2001-01-01: 2001-01-01
Введите дату конца диапазона в формату 2021-06-04: 2021-06-04
Delta =  7460
Start day of the week =  1
Total work hours =  42640

---

Практически всегда в датасетах дата и время представлены строкой в формате ***год-месяц-день часы:минуты:секунды***, например:

In [ ]:
Date_Time = '2021-01-02 21:15:06'
Date_Time

'2021-01-02 21:15:06'

В таком виде информация практически не может быть использована в задачах машинного обучения. Поэтому необходимо научиться преобразовывать эту строку и извлекать из нее полезную информацию. Мы уже рассмотрели библиотеку DateTime и можно пользоваться ею, но можно воспользоваться и просто обработкой строки, зная ее формат. Например, мы можем разбить строку на дату и время:

In [ ]:
Date, Time = Date_Time.split()
Date, Time

('2021-01-02', '21:15:06')

Теперь мы можем разбить дату на год, месяц и день, а время - на часы, минуты и секунды:

In [ ]:
Y, M, D = Date.split('-')
print(Y, M, D)
h, m, s = Time.split(':')
print(h, m, s)

2021 01 02
21 15 06

В данном способе есть недостаток - результат у нас записан в виде строк:

In [ ]:
type(Y)

str

Чтобы получить целочисленные значения, можно модифицировать код следующим образом:

In [ ]:
Y, M, D = map(int, Date.split('-'))
print(Y, M, D)
h, m, s = map(int, Time.split(':'))
print(h, m, s)

2021 1 2
21 15 6

In [ ]:
type(Y)

int

---

# Задание 3

Вам нужно написать функцию, которая из входного объекта datetime будет выделять следующую информацию:

1. Дата - в формате ***год-месяц-день***;
2. Год;
3. Месяц;
4. День;
5. Порядковый номер недели;
6. День недели (например, понедельник);
7. Время - в формате ***часы-минуты-секунды***;
8. Часы;
9. Минуты;
10. Секунды;
11. Количество секунд с начала дня.

Эту функцию необходимо применить к таблице, в которой уже есть колонка с datetime'ами, и добавить в эту таблицу 11 новых столбцов, содержащих в себе значения из пп. 1-11. Очередность и название столбцов такие же, как в списке выше.

Добиться результата можно различными способами.

Для получения исходной информации необходимо выполнить код:

In [ ]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')   # чтобы можно было оттуда считать файл с данными для этого задания

Mounted at /content/drive

In [ ]:
# здесь и далее вам понадобится менять пути к файлам, поскольку в вашей системе вы их можете записать в другое место

data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Даты.xlsx')

# data = pd.read_excel('/content/drive/MyDrive/school21/day01/datasets/Даты.xlsx')
data

FileNotFoundError: ignored

Добавлять значения в таблицу можно следующим образом:

In [ ]:

data['Дата'] = ''
data['Год'] = ''
data['Месяц'] = ''
data['День'] = ''
data['Номер недели'] = ''
data['День недели'] = ''
data['Время'] = ''
data['Часы'] = ''
data['Минуты'] = ''
data['Секунды'] = ''
data['Секунд с начала дня'] = ''
for i in range(100) :
    data['Дата'][i], data['Время'][i] = (data['datetime'][i]).split()
    data['Год'][i], data['Месяц'][i], data['День'][i] = (data['Дата'][i]).split('-')
    data['Часы'][i], data['Минуты'][i], data['Секунды'][i] = (data['Время'][i]).split(':')
    _, data['Номер недели'][i], data['День недели'][i]  = date.isocalendar(datetime.strptime(data['Дата'][i], '%Y-%m-%d'))
    delta = datetime.strptime(data['datetime'][i], '%Y-%m-%d %H:%M:%S') - datetime.strptime(data['Дата'][i], '%Y-%m-%d')
    data['Секунд с начала дня'][i] = delta.seconds

data

,datetime,Дата,Год,Месяц,День,Номер недели,День недели,Время,Часы,Минуты,Секунды,Секунд с начала дня
0,2021-01-26 17:22:41,2021-01-26,2021,01,26,4,2,17:22:41,17,22,41,62561
1,2013-04-18 14:44:04,2013-04-18,2013,04,18,16,4,14:44:04,14,44,04,53044
2,2017-11-12 21:51:06,2017-11-12,2017,11,12,45,7,21:51:06,21,51,06,78666
3,2001-09-14 22:48:09,2001-09-14,2001,09,14,37,5,22:48:09,22,48,09,82089
4,2012-12-03 18:05:30,2012-12-03,2012,12,03,49,1,18:05:30,18,05,30,65130
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2002-04-06 14:45:02,2002-04-06,2002,04,06,14,6,14:45:02,14,45,02,53102
96,2010-01-17 19:29:42,2010-01-17,2010,01,17,2,7,19:29:42,19,29,42,70182
97,2016-09-20 13:10:02,2016-09-20,2016,09,20,38,2,13:10:02,13,10,02,47402
98,2019-11-27 15:05:00,2019-11-27,2019,11,27,48,3,15:05:00,15,05,00,54300
99,2005-02-08 18:53:40,2005-02-08,2005,02,08,6,2,18:53:40,18,53,40,68020

Сохранить полученный результат можно следующим образом:

In [ ]:
nik_name = 'jkassand-ds-beginner'
data.to_excel('/content/drive/MyDrive/Colab Notebooks/Даты '+nik_name+'.xlsx', index=False)

Для выполнения задания вам нужно будет сохранить новый файл в ту же папку, откуда мы берем файл Даты.xlsx

Good_luck = 'Удачи!'